* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    padding: 0.8em 1.5em;
    border-radius: 20px;
    border-style: none;
    background-color: #0096f9;
    color: white;
    font-weight: bold;

}

button:hover {
    background-color: #0c84d4;
}

.page-container {
    display: grid;
    background-color: #EFEFEF;
    height: 100vh;
    grid-template-columns: 250px 8fr;
    grid-template-rows: 90px 1fr;
    grid-template-areas: 
    'nav header'
    'nav content';
}

#add-project {
    position: fixed;
    background-color: #FF3B24;
    top:89%;
    left: 94%;
    font: bold;
    padding: 19px 28px;
    font-size: 1.5rem;
    border-radius: 5rem;
}

#add-project:hover {
    background-color: #d43220;
}
/* stylings for the header contents */
#header {
    background-color: #3d373a;
    grid-area: header;
    position: relative;
    padding: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftside {
    display: flex;
    gap: 1.2em;
    padding: 6px;
}

.rightside {
    display: flex;
    gap: 1em;
    padding-right: 16px;
}

.search {
    align-self: center;
}

#search {
    border-style: none;
    background-color: #f1f6f8;
    padding: 0.7em 2em;
    border-radius: 20px;
    box-sizing: border-box;
}

#notification-btn {
    background-color: white;
}

.cat-profile {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: solid black 1px;
    border-radius: 10em
}

.notification {
    background-color: white;
}

.notification > img {
    height: 30px;
    width: 30px;
    padding: 0px;
    border-radius: 10em
}

/* stylings for the navigation pane */

#nav {
    background-color: #201E1F;
    grid-area: nav;
    color: white;
    padding: 8px;
}

h3 {
font-size: 24px;
}

#profile-nav > img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: solid black 1px;
    border-radius: 10em
}

.nav-heading {
    display: flex;
    gap: 8px;
    padding: 16px;
    align-items: center;
}

.task-content {
    padding: 16px;
    display: grid;
    grid-auto-rows: auto;
    gap: 1.2rem;
    font-size: 18px;
}

.tasks {
    display: flex;
    gap: 25px;
    padding: 0.2em 0.2em;
    border-radius: 8px;
}

.tasks:hover {
    background-color: #3a3638d0;
    padding: 0.2em 0.2em;
}

/* stylings for the content */

#content {
    background-color: #585255;
    color: black;
    padding: 1.5em;

    display: grid;
    grid-auto-columns: 250px;
    grid-auto-flow: column;
    gap: 2rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 10px;
    color: white;
    height: auto;
}

.add-content-btn {
    font-size: 24px;
    padding: 0.3rem 0.2rem;
    justify-items: end;
}

.project-title {
    background-color: #0096f9;
    border-radius: 12px;
    padding: 0.5rem;
    text-align: center;
}

.activity-container {
    background-color: rgb(230, 102, 102);
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    border-radius: 12px;
    gap:4px;
    display: flex;
    flex-direction: column;
}

.activity-container:hover {
    background-color: rgb(216, 86, 86);
}

.edit-container  > button {
    padding: 0px;
    background-color: transparent;
}

.edit-container  > button:hover {
    padding: 0px;
    background-color: transparent;
    color: rgb(238, 236, 236);
}

.edit-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.2rem;
}

input:checked + label {
    text-decoration: line-through;
}

textarea {
    overflow: hidden;
    padding: 2px 2px;
    field-sizing: content;
    border-radius: 6px;
    border-style:none ;
}

/* Modal Stylings */
.project-modal-container {
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    border-radius: 10px;
    background-color: #2b2729;
    border: solid 1px #524848;

    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    gap: 16px;
}

.project-modal-container > h3 {
    font-size: 38px;
    color: white;
}

.project-modal-container > p {
    color: white;
    font-size: 18px;
}

.project-modal-container > input {
    width: 300px;
    font-size: 24px;
    border-radius: 12px;
    text-align: center;
}



.modal-button-conatainer {
    gap: 4rem;
    display: flex;
}

#submit {
    padding: 0.8em 1.5em;
    border-radius: 20px;
    border-style: none;
    background-color: greenyellow;
    color: black;
    font-weight: bold;
}

#submit:hover {
    background-color: rgb(144, 212, 42);
}
#modal-cancel{
    padding: 0.8em 1.5em;
    border-radius: 20px;
    border-style: none;
    background-color: #FF3B24;
    color: black;
    font-weight: bold;
}

#modal-cancel:hover {
    background-color: #d43220;
}