* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    padding: 0.8em 1.5em;
    border-radius: 20px;
    border-style: none;
    background-color: #0096f9;
    color: white;
    font-weight: bold;

}

button:hover {
    background-color: #0c84d4;
}

.page-container {
    display: grid;
    background-color: #EFEFEF;
    height: 100vh;
    grid-template-columns: 250px 8fr;
    grid-template-rows: 90px 1fr;
    grid-template-areas: 
    'nav header'
    'nav content';
}

#add-project {
    position: fixed;
    background-color: #FF3B24;
    top:89%;
    left: 94%;
    font: bold;
    padding: 19px 28px;
    font-size: 1.5rem;
    border-radius: 5rem;
}

#add-project:hover {
    background-color: #d43220;
}
/* stylings for the header contents */
#header {
    background-color: #3d373a;
    grid-area: header;
    position: relative;
    padding: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftside {
    display: flex;
    gap: 1.2em;
    padding: 6px;
}

.rightside {
    display: flex;
    gap: 1em;
    padding-right: 16px;
}

.search {
    align-self: center;
}

#search {
    border-style: none;
    background-color: #f1f6f8;
    padding: 0.7em 2em;
    border-radius: 20px;
    box-sizing: border-box;
}

.rightside > span {
    color: white;
    align-self: center;
}

.cat-profile {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: solid black 1px;
    border-radius: 10em
}

.notification {
    background-color: white;
}

.notification > img {
    height: 30px;
    width: 30px;
    padding: 0px;
    border-radius: 10em
}

/* stylings for the navigation pane */

#nav {
    background-color: #201E1F;
    grid-area: nav;
    color: white;
    padding: 8px;
}

h3 {
font-size: 24px;
}

#profile-nav > img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: solid black 1px;
    border-radius: 10em
}

.nav-heading {
    display: flex;
    gap: 8px;
    padding: 16px;
    align-items: center;
}

.task-content {
    padding: 16px;
    display: grid;
    grid-auto-rows: auto;
    font-size: 18px;
}

.tasks {
    display: flex;
    gap: 25px;
    padding: 0.2em 0.2em;
    border-radius: 8px;
}

.tasks:hover {
    background-color: #3a3638d0;
    padding: 0.2em 0.2em;
}

/* stylings for the content */

#content {
    background-color: #585255;
    color: black;
    padding: 1.5em;
    display: grid;
    grid-auto-columns: 250px;
    grid-auto-flow: column;
    gap: 2rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    color: white;
    height: auto;
    word-break: break-all;
}


/* Stylings for the project  */

.project-delete {
    width: 30px;
    padding: 3px;
    border-radius: 30px;
    transform: translate(280%, -80%);
    background-color: #FF3B24;
}

.project-delete:hover {
    background-color: #d43220;
}

.add-content-btn {
    font-size: 24px;
    padding: 0.3rem 0.2rem;
    justify-items: end;
    background-color: #FF3B24;
}

.add-content-btn:hover {
    background-color: #d43220;
}

.project-title {
    background-color: #0096f9;
    border-radius: 12px;
    padding: 0.5rem;
    text-align: center;
}

/* Stylings for the task  */
.task-container {
    background-color: #c4c4c4;
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}
        
input:checked + p {
    text-decoration: line-through;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.task-header-left {
    display: flex;
    align-items: center;
    gap: 4px;
}

.task-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 12px;
}

.edit-due-date:hover {
    background-color: #949494;
}

.task-header-left > button {
    padding: 5px;
    background-color: transparent;
}

.task-content {
    padding: 0px;
}

.task-content > input {
    background-color: transparent;
    border-style: none;
    border-radius: 6px;
    text-overflow: ellipsis;
    font-size: 14px;
    padding: 4px;
}

.task-content > input:focus {
    background-color: white;
    color: black;   
}

.task-content > textarea {
    background-color: transparent;
    border-style: none;
    border-radius: 6px;
    overflow: hidden;
    font-size: 14px;
    padding: 4px;
}

.task-content > textarea:focus {
    height: 80px;
    background-color: white;
    color: black;
    text-overflow: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Modal Stylings */
.project-modal-container {
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    border-radius: 10px;
    background-color: #2b2729;
    border: solid 1px #524848;

    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    gap: 13px;
}

.project-modal-container > h3 {
    font-size: 38px;
    color: white;
}

.project-modal-container > p {
    color: white;
    font-size: 18px;
}

.project-modal-container > input {
    width: 300px;
    font-size: 24px;
    border-radius: 12px;
    text-align: center;
}

.modal-button-container {
    gap: 4rem;
    padding-top: 1em;
    display: flex;
}

#submit {
    padding: 0.8em 1.5em;
    border-radius: 20px;
    border-style: none;
    background-color: greenyellow;
    color: black;
    font-weight: bold;
}

#submit:hover {
    background-color: rgb(144, 212, 42);
}
#modal-cancel{
    padding: 0.8em 1.5em;
    border-radius: 20px;
    border-style: none;
    background-color: #FF3B24;
    color: black;
    font-weight: bold;
}

#modal-cancel:hover {
    background-color: #d43220;
}

.task-modal-container {
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    border-radius: 10px;
    background-color: #2b2729;
    border: solid 1px #524848;

    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    gap: 13px;
}

.task-modal-container > h3 {
    font-size: 30px;
    color: white;
}

.task-modal-container > input {
    width: 300px;
    font-size: 18px;
    border-radius: 12px;
    text-align: center;
}

.task-modal-container > p {
    color: white;
    transform: translate(0,30%);
    font-weight: bo;
}

.task-modal-container > input[type=textarea] {
    width: 300px;
    height: 200px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
}

#calendar-modal-btn {
    background-color: transparent;
    padding: 5px;
    font: 24px
}

#calendar-input-container {
    display: flex;

}

.calendar-input-container > input {
    width: 120px;
    font-size: 16px;
    border-radius: 12px;
    text-align: center;
}

#calendar-modal-btn:hover {
    background-color: #585255;
}

.urgent-container {
    display: flex;
    gap: 0.4em;
}

.urgent-container > button {
    border-radius: 4px;
    padding: 0.5em 1em;
}

.not-started {
    background-color: #d43220;
}

.not-started:hover {
    background-color: #be2c1c;
}

.in-progress {
    background-color: #ebba34;
}

.in-progress:hover {
    background-color: #d8ab2f;
}

.completed {
    background-color: #7bb61d;
}

.completed:hover {
    background-color: #75ac1c;
}

/* Calendar Stylings  */
.calendar-container {
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 300px;
    border-radius: 10px;
    background-color: #2b2729;
    border: solid 1px #524848;

    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    gap: 16px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.calendar-header > button {
    background-color: transparent;
}
.calendar-header > button:hover {
    background-color: #524848;
}

.calendar-header > p {
    color: white;
}

.dates-container {
    display:grid;
    grid-template-columns: repeat(7,40px);
    gap: 4px;
}

.dates-container > p {
    color: white;
    text-align: center;
}

.day {
    text-align: center;
    color: black;
    background-color: white;
    padding: 12px 1px;
    border-radius: 7px;
    
}